@import url(style.css);

.pagelist-breadcrumpes {
    padding: 26px 0;
}

.pagelist-breadcrumpes a {
    font-size: 13px;
    line-height: 31px;
    text-transform: capitalize;
    color: #000000;
    padding: 0;
}

.pagelist-breadcrumpes a span {
    padding: 0 15px;
}

#side-drop {
    display: none;
}

.product-top-sorting {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product-top-sorting > p {
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 0;
}

.product-sort,.product-show {
    background: #F4F3F3;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    width: 100%;
    margin-right: 31px;
}

.product-main {
    gap: 65px;
}

.product-sort {
    max-width: 369px;
}

.product-show {
    max-width: 155px;
}

.product-sort p,.product-show p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 0;
    padding: 18px 0 18px 18px;
}

.side-nav-main {
    background: #F5F5F5;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    min-height: 1050px;
    padding-top: 32px;
    padding-bottom: 24px;
}

.side-padding {
    padding: 0 13px;
    border-bottom: 1px solid rgba(210, 209, 209, 0.48);
}

.side-nav-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-bottom: 21px;
}

.side-nav-head > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.side-nav-head h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    color: #000000;
    margin: 0 6px 0;
}

.side-nav-search {
    padding-top: 17px;
    padding-bottom: 38px;
}

.side-nav-search > div {
    position: relative;
}

.side-nav-search p {
    font-weight: 500;
    font-size: 13px;
    line-height: 31px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 6px;
}

.side-nav-search input {
    border: 1px solid #D2D1D1;
    border-radius: 10px;
    outline: none;
    width: 100%;
    padding: 7px 45px 6px 15px;
}

.side-nav-search input[type=text] {
    font-size: 12px;
    line-height: 28px;
    text-transform: capitalize;
    color: #6F6868;
}

.side-nav-search span {
    width: 100%;
    max-width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0078BB;
    border-radius: 100px;
    position: absolute;
    top: 10px;
    right: 12px;
}

.side-nav-drop-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 9px;
    padding-bottom: 11px;
}

.side-nav-drop-head:hover {
    cursor: pointer;
}

.side-nav-drop-head h5 {
    font-weight: 500;
    font-size: 15px;
    line-height: 31px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 0;
}

.side-nav-dropdown {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
}

.side-nav-dropdown label {
    font-size: 13px;
    text-transform: capitalize;
    color: #000000;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    gap: 65px;
    margin-top: 25px;
}

.content .grid-item {
    width: 100%;
    max-width: 226px;   
}

.product-card {
    background: #F2F2F2;
    border-radius: 10px;
    min-height: 220px;
    width: 100%;
    max-width: 227px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.grid-item a {
    text-decoration: none;
    color: #000000;
}

.product-card img {
    width: 100%;
    max-width: 118px;
    margin: 0 auto;
}

.product-details {
    text-align: left;
    display: grid;
}

.product-details h3 {
    padding-top: 18px;
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-transform: capitalize;
    float: left;
}

.product-details h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    width: 100%;
    max-width: 226px;
    float: left;
    padding-top: 5px;
    margin: 0;
}

.product-details h2 {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000000;
    float: left;
    padding-top: 10px;
    margin: 0;
}

.review-section {
    padding-top: 15px;
}

.product-details span {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-left: 8px;
    text-transform: lowercase;
}

.checkbox {
    transition: 0.5s;
}

.check {
    display: none;
}

.checkbox label {
    position: relative;
    cursor: pointer;
    width: 100%;
    transition: 0.5s;
}

.checkbox-custom-label {
    font-weight: 400;
    font-size: 15px;
    line-height: 35px;
    color: #000000;
}

label {
    display: inline-block;
}

.checkbox label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 7px 7px 6px 7px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 4px;
}

.checkbox input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    left: 6px;
    top: 11px;
    width: 6px;
    height: 12px;
    border: solid #0078BB;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.side-nav-dropdown > a {
    font-size: 15px;
    line-height: 20px;
    text-transform: capitalize;
    color: #0078BB;
    text-decoration: none;
    margin: 20px 0;
    display: inline-block;
}

.side-nav-dropdown > a span {
    padding-right: 10px;
}

.Filter {
    display: none;
}

.cross-desktop {
    display: none;
}

.side-nav-drop-head > span {
    transition: all 0.2s ease-in;
}

.rotate {
    transform: rotate(180deg);
    transition: all 0.2s ease-in;
}

.overlay-bg {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 99;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .product-main {
        gap: 20px;
    }

    .grid-container {
        gap: 10px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .section-wrap {
        padding-left: 51px;
        padding-right: 51px;
    }
}

@media only screen and (max-width: 991px) {

    .side-nav-head {
        justify-content: space-between;
    }

    .side-nav-head > div {
        display: flex;
    }

    .cross-desktop {
        display: block;
    }

    .Filter {
        display: block;
        text-align: center;
    }

    .side-nav-product {
        display: none;
        background: #ffff;
        position: absolute;
        z-index: 999999;
        top: 0;
        height: 100%;
        right: 0;
        max-width: 320px;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        position: fixed;
        overflow: scroll;
    }

    .Filter button {
        width: 100%;
        height: 42px;
        border-radius: 40px;
        border: 2px solid #E0E0E0;
        max-width: 400px;
        margin-bottom: 20px;
        transition: 0.5s;
    }

    .side-nav-product {
        display: none;
    }

    .section-wrap {
        padding-left: 45px;
        padding-right: 45px;
    }    
}

@media only screen and (max-width: 767px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
    }

    .product-top-sorting {
        flex-direction: column-reverse;
    }

    .product-sort, .product-show {
        margin-right: 0;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 576px) {
    .section-wrap {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media only screen and (max-width: 425px) {
    .section-wrap {
        padding-left: 14px;
        padding-right: 14px
    }

    .header-details .tex-img h1 {
        margin-left: 5px;
        margin-right: 5px;
    }
}