:root {
    --p-color: #2B5290;
}

* {
    font-family: 'Poppins';
    font-style: normal;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

hr {
    margin: 0;
}

.section-wrap {
    width: 100%;
    max-width: 1728px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
}

.contact-info {
    background: #CEFEE1;
    padding: 9px 0;
    min-height: 35px;
}

.contact-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.contact-info a {
    padding-left: 9px;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.contact-info img {
    padding-right: 9px;
}

.contact-info h1 {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    margin: 0;
}

.contact-info .section-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-info .section-wrap .language {
    display: flex;
    gap: 30px;
    align-items: center;
}

.contact-info .section-wrap .language select {
    background: #CEFEE1;
    font-weight: 500;
    color: #000000;
    border: none;
    outline: none;
}

.header-content {
    background: #FFFFFF;
}

.header-content .section-wrap .row {
    padding-top: 30px;
    align-items: center;
}

.header-content .section-wrap .logo-section .home-search {
    display: inline;
    position: relative;
    margin-left: 33px;
    margin-top: 30px;
}

.header-content .section-wrap .logo-section .home-search input {
    outline: none;
}

.header-content .section-wrap .logo-section .home-search input[type=text] {
    width: 100%;
    max-width: 443px;
    border: 1px solid #C9C9C9;
    border-radius: 100px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #8B8B8B;
    padding: 13px 0;
    padding-left: 23px;
}

.header-content .section-wrap .logo-section .home-search input[type=text]:focus {
    border: 1px solid #0078BB;
}

.header-content .section-wrap .logo-section .home-search img {
    position: absolute;
    right: 6px;
    top: -5px;
}

.header-content .section-wrap .nav-menu-btn {
    display: none;
}

.header-content .section-wrap .head-icons {
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-content .section-wrap .logo {
    width: 100%;
}

.header-content .section-wrap .head-icons img {
    margin-right: 15px;
    width: 100%;
    max-width: 25px;
}

.home-border {
    margin-top: 26px;
    border: 1px solid #c6c6c6;
}

.nav-section {
    padding-top: 25px;
    padding-bottom: 29px;
    background: #FFFFFF;
}

.nav-section .home-menu > ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;

}

.swiper-slide .swiper-slide-next {
    width: 10px !important;
}

.nav-section .home-menu > ul > li > a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    text-transform: capitalize;
    color: #000000;
    transition: all 0.3s ease;
}

.nav-section .home-menu > ul > li > a:hover {
    color: #0078BB;
}

/*.nav-section{*/
/*    position: relative;*/
/*    margin: auto;*/
/*}*/
.dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
    position: unset;
}

.nav-section {
    position: relative;
}

.nav-section .home-menu .mega-menu {
    padding: 0 103px;
    padding-top: 49px;
    position: absolute;
    top: 278%;
    width: 100%;
    min-height: 378px;
    background: #F6F6F6;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.nav-section .home-menu > ul > li:hover .mega-menu {
    opacity: 1;
    top: 174%;
    visibility: visible;
}

.nav-section .home-menu .mega-menu .mega-menu-items h1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.nav-section .home-menu .mega-menu .mega-menu-items ul {
    padding: 0;
    margin: 0;
}

.nav-section .home-menu .mega-menu .mega-menu-items ul > li {
    font-weight: 400;
    font-size: 13px;
    line-height: 31px;
    text-transform: capitalize;
    list-style-type: none;
}

.nav-section .home-menu .mega-menu .mega-menu-items ul > li a {
    color: #000000;
    text-decoration: none;
}

.nav-section .home-menu .mega-menu .mega-menu-items ul > li a:hover {
    color: #0078BB;
}

.hover-category {
    display: block;
    top: 462%;
    width: 100%;
    max-width: 1706px;
    min-height: 378px;
}

.header-details {
    background: #000000;
    padding: 19px 0;
    margin: 0 auto;
}

.header-details .section-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header-details .section-wrap .tex-img {
    display: inherit;
}

.header-details .tex-img h1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.banner-home img {
    width: 100%;
}

.category-details {
    background: #FFFFFF;
}

.category-details .category-heading {
    background-image: url("../images/category-bg.svg");
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: bottom
}

.category-details .category-heading h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    padding-top: 105px;
}

.category-details .categories-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    margin-top: 48px;
    border-radius: 15px;
}


.category-details .categories-content a div {
    margin-bottom: 0;
}

.category-details .swiper-width {
    position: relative;
}

.category-details .swiper, swiper-container {
    position: static;
}

.category-details .swiper-wrapper {
    position: static;
}

/*.swiper-button-next, .swiper-button-prev {*/
/*    position: absolute;*/
/*    top: var(--swiper-navigation-top-offset, 57%);*/
/*}*/
.categories-content a {
    text-decoration: none;
    text-align: center;
}

.categories-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-content a div {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #D2D1D1;
    border-radius: 100px;
    margin-bottom: 19px;
    align-items: center;
    max-width: 100px;
    justify-content: center;
    transition: all 0.3s ease-in;
    min-height: 100px;
}

.categories-content a span {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #000000;
    text-align: center;
}

.categories-content a:hover > div {
    border: 1px solid var(--p-color);
}

.categories-content a:hover > span {
    color: var(--p-color);
    font-weight: 400;
}

.categories-item {
    width: 100%;
    max-width: 102px;
    min-height: 102px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-button-next:after, .swiper-button-prev:after {
    content: none;
}

.swiper-button-next img, .swiper-button-prev img {
    width: 100%;
    max-width: 35px;
    height: 35px;
}

.swiper-button-next, .swiper-button-prev {
    top: 100px;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
}

#left-active {
    display: none;
}

#disable-right {
    display: none;
}

.sale-banner {
    background: #ffffff;
    margin-top: 40px;
}

.sale-banner .banner-card {
    background-image: url("../images/banner-bg.png");
    background-repeat: no-repeat;
    border-radius: 20px;
    background-size: cover;
    min-height: 675px;
    position: relative;
}

.sale-banner .banner-card button, .sale-banner .banner-card-one button {
    background: #3B68A4;
    border-radius: 100px;
    width: 100%;
    max-width: 214px;
    padding: 10px 0;
    border: none;
    margin-left: 46px;
    margin-top: 30px;
}

.sale-banner .banner-main {
    display: flex;
}

.sale-banner .banner-card button a, .sale-banner .banner-card-one button a {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.sale-banner .banner-card button:hover, .sale-banner .banner-card-one button:hover {
    background: #0078BB;
}

.sale-banner .banner-card-one button {
    margin-left: 55px;
}

.sale-banner .banner-card h1 {
    font-weight: 700;
    font-size: 46px;
    line-height: 51px;
    text-transform: capitalize;
    color: #03486F;
    width: 100%;
    max-width: 347px;
    padding-top: 88px;
    padding-left: 46px;
}

.product-img {
    position: absolute;
    right: 0;
    bottom: 20px;
}

.sale-banner .banner-card .product-img img {
    width: 100%;
    max-width: 414px;
}

.sale-banner  .section-wrap  .row {
    gap: 59px;
}

.sale-banner .banner-card .logo-img-banner img {
    width: 100%;
    max-width: 193px;
    margin-left: 46px;
    margin-bottom: 0;
    margin-top: 260px;
}

.sale-banner .banner-card-one {
    background-image: url("../images/pro-bg.png");
    background-repeat: no-repeat;
    border-radius: 20px;
    background-size: cover;
    min-height: 308px;
}

.sale-banner .banner-card-one .product-logo {
    margin-right: 44px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
}

.sale-banner .banner-card-one h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 39px;
    text-transform: capitalize;
    color: #03486F;
    width: 100%;
    max-width: 357px;
    /*margin-top: 61px;*/
    margin-left: 55px;

}

.sale-banner .product-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}

.sale-banner .product-img-two img {
    width: 100%;
    max-width: 261px;
}

.seller-product {
    background: #ffffff;
    text-align: center;
    padding-top: 68px;
}

.seller-product h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
}

.seller-product .seller-products .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 30px;
}

.seller-product .seller-products .grid-item .product-card {
    background: #F2F2F2;
    border-radius: 10px;
    min-height: 220px;
    width: 100%;
    max-width: 227px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.seller-product .seller-products .grid-item .product-card img {
    width: 100%;
    max-width: 118px;
    margin: 0 auto;
}

.seller-product .seller-products .grid-item .product-card .gift img {
    width: 100%;
    max-width: 15px;
}

.seller-product .seller-products .grid-item .product-details h3 {
    padding-top: 18px;
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-transform: capitalize;
    float: left;
}

.seller-product .seller-products .grid-item .product-details h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    width: 100%;
    max-width: 226px;
    float: left;
    padding-top: 5px;
    margin: 0;
}

.seller-product .seller-products .grid-item .product-details h4:hover {
    color: #0078BB;
}

.seller-product .seller-products .grid-item .product-details h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000000;
    float: left;
    padding-top: 10px;
    margin: 0;
}

.seller-product .seller-products .grid-item .product-details {
    text-align: left;
    display: grid;
}

.seller-product .seller-products .grid-item .product-details span {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-left: 8px;
    text-transform: lowercase;

}

.seller-product .seller-products .grid-item .review-section {
    padding-top: 15px;
}

.seller-product .seller-products .grid-item .product-card button {
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 4px 18px 3px 17px;
    border: none;
}

.seller-product .seller-products .grid-item .product-card button.btn-hot {
    background-color: #E05C35;
}

.seller-product .seller-products .grid-item .product-card button.success {
    background: #0FC1A1;
}

.seller-product .seller-products .grid-item .product-card button.trending {
    background: #DA5260;
}

.seller-product .seller-products .grid-item .product-card button.save {
    background: #C10230;
}

.seller-product .seller-products .grid-item .product-card button.gift {
    background: #0078BB;
    border-radius: 30px;
    padding: 9px 10px;
}

.seller-product .seller-products .grid-item a {
    text-decoration: none;
    color: #000000;
}

.tab-section .nav-pills .nav-link {
    padding: 0;
    padding-right: 36px;
    color: #000000;
}

.tab-section .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #3B68A4;
    background: none;
}

/*Tab css*/
progress {
    width: 100%;
    max-width: 772px;
    position: absolute;
    bottom: -1px;
    z-index: 0;
    opacity: 0.5;
    border: none;
    height: 4px;
}

/* For Chrome or Safari */
progress::-webkit-progress-bar {
    background-color: #D9D9D9;
}

progress::-webkit-progress-value {
    background-color: #D9D9D9;
}

/* For Firefox */
progress {
    background-color: #D9D9D9;
}

progress::-moz-progress-bar {
    background-color: #D9D9D9;
}

/* For IE10 */
progress {
    background-color: #D9D9D9;
}

progress {
    background-color: #D9D9D9;
}

.cycle-tab-item {
    width: 186px;
}

.cycle-tab-item:after {
    display: block;
    content: '';
    border-bottom: solid 4px #3B68A4;
    transform: scaleX(0);
    top: 0.6px;
    z-index: 999999999;
    position: relative;
    padding-top: 14px;
    transition: transform 0ms ease-out;
}

.seller-product .cycle-tab-item.active:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
    transition: transform 500ms ease-in;
    z-index: auto;
}

.tab-section .nav-pills {
    justify-content: center;
    margin-top: 32px;
    position: relative;
}

.tab-section .tab-content {
    margin: 71px 0;
}

.swiper-slide {
    width: 200px
}

/*//valueabe section*/
.valuable-product {
    padding-top: 61px;
    background: #ffffff;
    padding-left: 37px;
    padding-right: 37px;
}

.valuable-product .valuable-heading h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #0078BB;

}

.valuable-product .valuable-heading h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
}

.valuable-product .valuable-card {
    width: 100%;
    max-width: 480px;
    background: #ECECEC;
    padding: 0 37px;
    padding-top: 63px;
    padding-bottom: 71px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 47px;
    transition: all 0.3s ease-in;
}

.valuable-product .card-content {
    display: flex;
    gap: 40px;
}

.valuable-product .valuable-card .rating-hover {
    display: none;
}

.valuable-product .valuable-card h1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 113%;
    text-transform: uppercase;
    width: 95%;
    max-width: 280px;
    padding-top: 27px;
    transition: all 0.3s ease-in;
}

.valuable-product .valuable-card p {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-transform: capitalize;
    width: 95%;
    max-width: 407px;
    text-align: left;
    padding-top: 17px;
    transition: all 0.3s ease-in;
}

.valuable-product .valuable-card h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    padding-top: 17px;
    transition: all 0.3s ease-in;
}

.valuable-product .valuable-card:hover {
    background: #0078BB;
    cursor: pointer;
}

.valuable-product .valuable-card:hover h1, .valuable-product .valuable-card:hover p, .valuable-product .valuable-card:hover h3 {
    color: #ffffff;
}

.valuable-product .valuable-card:hover .rating-hover {
    display: block;
}

.valuable-product .valuable-card:hover .b-star {
    display: none;
}

.brand-section {
    background: #ffffff;
    text-align: center;
}

.brand-section .brand-heading h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
}

.brand-section .brand-logo {
    padding-top: 9px;
    margin-bottom: -23px;
    display: flex;
    justify-content: center;
    gap: 111px;
}

.brand-section .brand-logo img {
    width: 100%;
    max-width: 171px;
}

.community-section {
    background: #ECECEC;
    padding: 103px 0;
    padding-left: 6px;
}

.community-section .section-wrap h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-transform: uppercase;
}

.community-section .section-wrap h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
}

.community-section .section-wrap .community-img {
    padding-top: 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.community-section .section-wrap .community-img img {
    border-radius: 20px;
    width: 100%;
    max-width: 228px;
}

.support-section {
    background: #0078BB;
}

.support-section .support-content {
    display: flex;
}

.support-section .support-content .support-details {
    margin-left: 20px;
}

.support-section .support-content .support-details h1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: #ffffff;
}

.support-section .support-content .support-details p {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    width: 100%;
    max-width: 202px;
    color: #ffffff;
    margin: 0;
}

.grid-content {
    padding: 36px 0;
}

/***** footer ******/
footer {
    background: #000000;
}
.payment-method{
    width: 100%;
    max-width: 319px;
}
.nav-two {
    padding-left: 82px;
}

.footer-wrapper {
    padding-top: 95px;
    padding-bottom: 39px;
}

.footer-wrapper > .features-div {
    padding: 0 85px 0 15px;
}

.footer-services > ul {
    padding: 0;
    margin-bottom: 0;
}

.footer-services li {
    list-style-type: none;
    text-align: left;
}

.footer-services li:hover a {
    color: #006FAC;
}

.footer-nav-wrapper li:hover a {
    color: #006FAC;
}

.footer-services a {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 55px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.65);;
    text-decoration: none;
}

.footer-services img {
    display: inline-block;
    margin-right: 8px;
}

.subscribe-div {
    padding: 0 85px 0 0;
}

.subscribe-div h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 11px;
}

.subscribe-div p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.65);
    margin-bottom: 16px;
}

.subscribe-div input {
    border: 1px solid #161616;
    border-radius: 10px;
    outline: none;
    padding: 11px 13px;
    width: 100%;
    max-width: 326px;
}

.subscribe-div input[type=email] {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--p-color);
    background: #161616;
}

.payment-mathods > p {
    padding-top: 15px;
    width: 100%;
    max-width: 337px;
}

.payment-mathods > p, .payment-mathods > a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.65);;
}

.payment-mathods > a {
    margin-bottom: 8px;
    text-decoration: none;
    display: inline-block;
}

.payment-mathods > div {
    margin-top: 30px;
}

.footer-nav-wrapper {
    padding-top: 30px;
    padding-bottom: 37px;
    padding-left: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-nav-wrapper a {
    padding: 0 19px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 108.5%;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.65);;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-nav-wrapper .nav-item:first-child a {
    padding-left: 0;
}

.footer-nav-wrapper a:hover {
    color: #006FAC;
}

.footer-privacy {
    padding-top: 23px;
    padding-bottom: 22px;
}

.footer-cookies a {
    padding: 0 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 108.5%;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.65);;;
}

.footer-cookies a:hover {
    color: #006FAC;
}

.footer-cookies a span {
    display: inline-block;
    margin: 0 5px 0 10px;
}

.footer-social img {
    display: inline-block;
}

.subscribe-div form a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    float: right;
    text-decoration: none;
    color: #0078BB;
    padding-top: 32px;
}

.footer-facebook {
    padding: 7px 12px;
}

.footer-twiter {
    padding: 10px 7px 9px 8px;
}

.footer-pinterst {
    padding: 8px 9px 7px;
}

.footer-intagram {
    padding: 9px;
}

.footer-youtube {
    padding: 10px 9px 10px 8px;
}

.footer-p {
    background-color: #0078BB;
    padding: 24px 0 23px 0;
}

.footer-p p {
    color: #fff;
    margin-bottom: 0;
    font-style: normal;
    font-size: 16px;
    line-height: 108.5%;
    text-transform: capitalize;
}

.footer-p button {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    background: #000000;
    border-radius: 10px;
    text-transform: uppercase;
    margin-left: 19px;
    color: rgba(255, 255, 255, 0.65);;
    padding: 8px 17px 7px 20px;
}

.footer-p button {
    border: none;
}

footer .footer-wrapper form {
    position: relative;
    max-width: 326px;
    margin: 0 auto;
}

footer .footer-wrapper form button {
    border: none;
    background: transparent;
    position: absolute;
    top: 12px;
    right: 15px;
}

/* start-menu */
#den-menu-two {
    background: #2b5290;
    width: 100%;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    right: 0;
    transition: 0.5s cubic-bezier(1, 0.05, 0.08, 1.14);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -250vh;
    /* border-radius: 0px 0px 50px 50px; */
    position: fixed;
    overflow: hidden;
}

.for-scroll li {
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding-top: 21px;
    padding-bottom: 21px;
}

.for-scroll li a {
    text-decoration: none;
    color: #fff;
    font-size: 26px;
}

.for-scroll ul {
    padding-left: 0;
}

img.close-icon {
    position: absolute;
    top: 26px;
    left: 28px;
    width: 100%;
    max-width: 21px;
    cursor: pointer;
    z-index: 9999;
}

/* end-menu */

@media only screen and (max-width: 1600px) {
    .seller-product .seller-products .grid-container {
        grid-template-columns: auto auto auto auto auto;
    }

    .community-section .section-wrap .community-img {
        padding-top: 22px;
        gap: 20px;
    }

    .product-img {
        bottom: 35px;
    }

    .sale-banner .banner-card .product-img img {
        max-width: 360px;
    }

    .footer-nav-wrapper a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media only screen and (max-width: 1440px) {
    .valuable-product {
        padding-left: 0;
        padding-right: 0;
    }

    .seller-product .seller-products .grid-container {
        grid-template-columns: auto auto auto auto;
    }

    .community-section .section-wrap .community-img {
        justify-content: center;
    }

    .sale-banner .banner-card .product-img img {
        max-width: 290px;
    }

    .product-img {
        bottom: 63px;
    }

    progress {
        width: 100%;
        max-width: 650px;
    }

    .seller-product .seller-products .grid-item .product-card button {
        font-weight: 400;
        font-size: 11px;
        text-transform: uppercase;
        color: #FFFFFF;
        position: absolute;
        top: 19px;
        left: 17px;
        padding: 4px 13px 2px 16px;
        border: none;
    }

    .nav-section .home-menu > ul {
        gap: 52px;
    }
}

@media only screen and (max-width: 1300px) {

    .nav-section .home-menu > ul > li > a {
        font-size: 13px;
    }

    .nav-section .home-menu > ul {
        gap: 43px;
    }

    .header-content .section-wrap .logo-section .home-search {
        margin-left: 22px;
    }

    .header-content .section-wrap .logo-section .home-search input[type=text] {
        width: 100%;
        max-width: 412px;
        border: 1px solid
    }

    .footer-services a {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1200px) {
    .footer-wrapper > .features-div {
        padding: 0 30px;
    }
    .support-section .support-content .support-details p {
        font-size: 12px;
    }
    .support-section .support-content .support-details h1 {
        font-size: 16px;
    }
    .footer-services a {
        font-size: 11px;
    }
    .subscribe-div p {
        font-size: 14px;
    }
    .payment-mathods > p, .payment-mathods > a {
        font-size: 14px;
        line-height: 19px;
    }
    .tab-section .nav-pills .nav-link {
        padding: 0;
        padding-right: 15px
    }

    .section-wrap {
        padding-left: 85px;
        padding-right: 85px;
    }

    .header-content .section-wrap .logo-section .home-search input[type=text] {
        width: 100%;
        max-width: 350px;
        border: 1px solid;
    }

    .nav-section .home-menu > ul {
        gap: 22px;
    }

    .header-details .tex-img h1 {
        font-weight: 500;
        font-size: 12px;
    }

    .header-content .logo-section .logo {
        width: 100%;
        max-width: 160px;
    }

    .nav-section .home-menu .mega-menu {
        padding: 0 52px;
        padding-top: 32px;
    }

    .sale-banner .banner-card-one h1 {
        font-size: 30px;
        margin-left: 20px;
    }

    .sale-banner .banner-card-one button {
        margin-left: 20px;
    }

    .sale-banner .product-flex {
        padding-right: 20px;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 1060px) {
    .valuable-product .section-wrap {
        padding: 0;
    }

    .footer-wrapper > .features-div {
        padding: 0 5px;
    }

    .footer-wrapper .payment-mathods,
    .footer-wrapper .subscribe-div {
        padding: 0 10px;
    }

    .footer-services a {
        display: inline-block;
        font-size: 12px;
    }

    .footer-services li {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: row;
    }

    .footer-nav-wrapper a {
        padding-top: 10px;
    }

    .nav-section .home-menu > ul {
        gap: 18px;
    }

    .section-wrap {
        padding-left: 70px;
        padding-right: 70px;
    }

    .contact-info h1 {
        font-size: 11px;
        line-height: 24px;
    }

    .contact-info a {
        padding-left: 5px;
        text-decoration: none;
        font-weight: 500;
        font-size: 11px;
    }

    .header-content .section-wrap .logo-section .home-search input[type=text] {
        max-width: 329px;
    }

    .nav-section .home-menu > ul > li > a {
        font-size: 12px;
    }

    .contact-info .section-wrap .language select {
        font-size: 13px;
    }

    .support-section .support-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14px;
        margin-top: 20px;
    }

    .support-section .support-content .support-details {
        margin-left: 0px;
        text-align: center;
    }

    .brand-logo .brand-logo-four {
        display: none;
    }

    .nav-section .home-menu .mega-menu {
        padding: 0px 28px;
        padding-top: 22px;
    }
}

@media only screen and (max-width: 992px) {
    .valuable-product .valuable-card {
        padding: 0 37px;
        padding-top: 52px;
        padding-bottom: 49px;
    }

    .header-content .section-wrap .logo-section {
        display: none;
    }

    .header-content .section-wrap .nav-menu-btn  {
        display: block;
    }

    #search-btn-icon {
        margin-left: 10px;
    }

    .home-border {
        margin-top: 10px;
    }
    .header-content .section-wrap .row {
        padding-top: 16px;
    }

    .footer-wrapper > .features-div,
    .footer-wrapper > .payment-mathods,
    .footer-wrapper > .subscribe-div {
        padding: 0 5px;
    }

    .footer-services img {
        margin-right: 2px;
    }

    .footer-services a {
        font-size: 13px;
    }

    .footer-wrapper {
        padding-bottom: 19px;
    }

    .footer-nav-wrapper {
        padding: 20px 0 27px 0;
    }

    .footer-services a {
        font-size: 10px;
    }

    .head-nav-wrapper .col-10 .nav-link {
        padding: 0 10px;
    }

    .head-nav-wrapper .col-10 .nav-link {
        font-size: 14px;
    }

    .footer-nav-wrapper a {
        font-size: 10px;
        padding: 5px 9px;
    }

    .footer-p p {
        font-size: 13px;
    }

    .footer-p {
        padding: 25px;
    }

    .popular-content {
        height: 215px;
    }

    .categories-secondary a {
        padding: 25px 50px;
        font-size: 15px;
    }

    progress {
        max-width: 640px;
        bottom: 7px;
    }

    .tab-section .nav-pills .nav-link {
        padding-right: 39px;
        font-size: 14px;
    }

    .cycle-tab-item:after {
        border-bottom: solid 3px #3B68A4;
        transform: scaleX(0);
        top: -8.4px;
    }

    .tab-section .tab-content {
        margin: 55px 0;
    }

    .seller-product .seller-products .grid-item .product-card {
        min-height: 170px;
        width: 100%;
        max-width: 217px;
    }

    .seller-product .seller-products .grid-item .product-card button {
        top: 9px;
        font-size: 9px;
    }

    .seller-product .seller-products .grid-item .product-details h4 {
        font-size: 14px;
        max-width: 182px;
    }

    .seller-product .seller-products .grid-item .product-details h3 {
        padding-top: 16px;
        font-size: 12px;
    }

    .seller-product .seller-products .grid-item .product-details h2 {
        font-size: 14px;
    }

    .header-content .section-wrap .logo-section .home-search {
        margin-left: 10px;
    }

    .header-content .section-wrap .logo-section .home-search input[type=text] {
        max-width: 234px;
        font-size: 10px;
        padding: 11px 0;
        padding-left: 23px;
    }

    .header-content .section-wrap .logo-section .home-search img {
        top: -1px;
        width: 100%;
        max-width: 30px;
    }

    .section-wrap {
        padding-left: 55px;
        padding-right: 55px;
    }

    .contact-info .section-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .header-details .tex-img h1 {
        font-size: 11px;
    }

    .nav-section .home-menu > ul > li > a {
        font-size: 9px;
    }

    .nav-section .home-menu > ul {
        display: flex;
        flex-direction: row;
        gap: 22px;
        list-style-type: none;
        text-align: center;
        padding: 0;
        margin: 0;
        align-content: center;
        justify-content: center;
    }

    .header-content .logo-section .logo {
        width: 100%;
        max-width: 160px;
    }

    .nav-section {
        padding-top: 5px;
        padding-bottom: 14px;
    }

    .category-details .category-heading h1 {
        padding-top: 60px;
    }

    .category-details .category-heading {
        background-size: contain;
    }

    .category-details .category-heading h1 {
        font-size: 22px;
    }

    .nav-section .home-menu .mega-menu .mega-menu-items h1 {
        font-size: 12px;
        line-height: 20px;
    }

    .nav-section .home-menu .mega-menu .mega-menu-items ul > li {
        font-size: 10px;
        line-height: 24px;
    }
}

@media only screen and (max-width: 768px) {
    progress {
        display: none;
    }

    .seller-product .seller-products .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 30px;
    }

    .sale-banner .banner-card-one button {
        margin-left: 15px;
    }

    .sale-banner .product-flex {
        padding-right: 15px;
    }

    .sale-banner .banner-card-one {
        height: auto;
    }

    .sale-banner .banner-card-one h1 {
        margin-left: 15px;
        font-size: 25px;
    }

    .sale-banner .banner-card button a, .sale-banner .banner-card-one button a {
        font-size: 18px;
    }

    .sale-banner .banner-card .logo-img-banner img {
        margin-top: 320px;
    }

    .sale-banner .banner-card h1 {
        font-size: 32px;
    }

    .seller-product .seller-products .grid-item .product-card img {
        max-width: 102px;
    }

    .section-wrap {
        padding-left: 54px;
        padding-right: 54px;
    }

    .nav-section {
        display: none;
    }


    .header-content .section-wrap .nav-menu-btn {
        display: block;
    }

    .home-border {
        margin-top: 13px;
    }

    #search-btn-icon {
        margin-left: 10px;
    }

    .category-details .category-heading h1 {
        padding-top: 19px;
    }

    .valuable-product .valuable-card {
        padding: 0 32px;
        padding-top: 45px;
        padding-bottom: 43px;
    }

    .valuable-product .valuable-card h3 {
        font-weight: 600;
        font-size: 15px;
        line-height: 28px;
        padding-top: 17px;
    }

    .valuable-product .valuable-card h1 {
        font-size: 16px;
        line-height: 113%;
    }

    .valuable-product .valuable-card p {
        font-size: 12px;
    }

    .brand-section .brand-logo {
        gap: 34px;
    }

    .brand-section .brand-logo img {
        max-width: 155px;
    }

    .community-section .section-wrap h3 {
        font-size: 19px;
        line-height: 29px;
    }

    .community-section .section-wrap h1 {
        font-weight: 600;
        font-size: 26px;
        line-height: 31px;
    }

    .community-section .section-wrap .community-img {
        padding-top: 22px;
        gap: 20px;
    }

    .community-section .section-wrap .community-img {
        padding-top: 33px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .footer-nav-wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .footer-nav-wrapper .nav-item a {
        padding-left: 0;
    }
    .footer-services a {
        width: 50%;
    }

    .head-nav-wrapper .col-lg-2 {
        justify-content: center;
    }

    .footer-services li {
        justify-content: flex-start;
    }
    .footer-cookies a {
        padding: 5px;
    }
    .footer-services li {
        margin-bottom: 18px;
    }

    .footer-services a {
        font-size: 11px;
        line-height: 107.5%;
        display: inline-block;
    }

    .footer-w-list {
        width: 70%;
    }

    .footer-nav-wrapper > .nav {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer-wrapper > .features-div {
        padding: 0 10px;
    }

    .subscribe-div {
        text-align: center;
        padding: 0;
        margin: 0 auto 35px;
    }

    .subscribe-div p {
        text-transform: capitalize;
    }

    .payment-mathods {
        margin: 0 auto;
        text-align: center  ;
    }

    .payment-mathods > p {
        padding-top: 0;
        margin-bottom: 20px;
    }

    .payment-mathods > p, .payment-mathods > a {
        font-size: 12px;
        line-height: 108.5%;
        text-align: center;
        text-transform: capitalize;
    }

    .payment-mathods > a {
        margin-bottom: 4px;
    }

    .payment-mathods > div {
        margin-top: 10px;
    }

    .footer-nav-wrapper {
        padding: 29px 0;
    }

    .footer-nav-wrapper a {
        padding: 6px 14px;
        font-size: 11px;
    }

    .footer-cookies > .nav {
        justify-content: center;
    }

    .footer-p {
        padding: 24px 45px 23px;
    }

    .footer-p p {
        width: 60%;
    }
}

@media only screen and (max-width: 576px) {
    .seller-product .seller-products .grid-container {
        grid-template-columns: auto auto;
    }

    .valuable-product .valuable-card {
        max-width: 100%;
    }

    .tab-section .nav-pills .nav-link {
        padding: 0;
        font-size: 14px;
    }
    .footer-services a {
        width: 50%;
    }

    .head-nav-wrapper .col-lg-2 {
        justify-content: center;
    }

    .footer-services li {
        justify-content: flex-start;
    }

    .tab-section .nav-pills {
        justify-content: center;
        margin-top: 32px;
        position: relative;
        flex-wrap: nowrap;
    }

    .section-wrap {
        padding-left: 24px;
        padding-right: 24px;
    }
    .valuable-product .section-wrap {
        padding-left: 24px;
        padding-right: 24px;
    }
    .cycle-tab-item {
        width: 116px;
    }

    .seller-product h1 {
        font-weight: 600;
        font-size: 21px;
    }

    .header-content .section-wrap .head-icons img {
        margin-right: 5px;
        max-width: 22px;
    }

    .header-content .section-wrap .head-icons img:last-child {
        margin-right: 0;
    }

    #search-btn-icon {
        width: 100%;
        max-width: 18px;
    }

    .header-details .tex-img h1 {
        font-size: 10px;
        line-height: 15px;
        margin: 0 10px;
    }

    .contact-info a {
        padding-left: 3px;
        font-size: 10px;
    }

    .contact-info h1 {
        font-size: 10px;
        line-height: 16px;
    }

    .brand-logo .brand-logo-three {
        display: none;
    }

    .community-section {
        padding: 63px 0;
    }

    .sale-banner .product-flex {
        flex-direction: column;
    }

    .sale-banner .banner-card-one h1  {
        margin-top: 20px;
    }

    .sale-banner .banner-card h1 {
        padding-top: 40px;
    }

    .sale-banner .banner-card .logo-img-banner img {
        margin-top: 362px;
    }
}

@media only screen and (max-width: 425px) {
    .section-wrap {
        padding-left: 14px;
        padding-right: 14px;
    }

    #search-btn-icon {
        max-width: 16px;
        margin-left: 5px;
    }

    .seller-product {
        padding-top: 50px;
    }

    .brand-section .brand-logo img {
        max-width: 132px;
    }

    .brand-section .brand-logo {
        gap: 29px;
    }
    .community-section .section-wrap h1 {
        font-weight: 600;
        font-size: 21px;
        line-height: 23px;
    }
    .community-section .section-wrap h3 {
        font-size: 17px;
        line-height: 29px;
    }

}

@media only screen and (max-width: 400px) {
    .section-wrap {
        padding-left: 12px;
        padding-right: 12px;
    }
    /*.category-details .section-wrap {*/
    /*    padding-left: 6px;*/
    /*    padding-right: 41px;*/
    /*}*/
    .footer-p {
        padding: 20px 15px;
    }

    .contact-details {
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }

    .tab-section .nav-pills .nav-link {
        padding: 0;
        font-size: 12px;
    }

    .seller-product .seller-products .grid-item .product-card {
        min-height: 141px;
    }

    .cycle-tab-item {
        width: 98px;
    }

    .seller-product .seller-products .grid-item .product-card img {
        max-width: 91px;
    }

    .header-details .tex-img h1 {
        font-size: 8px;
        line-height: 13px;
        margin-left: 7px;
        margin-right: 7px;
    }

    .header-content .section-wrap .head-icons img {
        margin-right: 8px;
        max-width: 18px;
    }

    .header-details .section-wrap .tex-img > img{
        max-width: 19px;
    }

    .header-details {
        padding: 11px 0;
    }
}
